financials.db
Raw Aggregate Data/2009q2/num.txt
Raw Aggregate Data/2009q2/pre.txt
Raw Aggregate Data/2009q2/readme.htm
Raw Aggregate Data/2009q2/sub.txt
Raw Aggregate Data/2009q2/tag.txt
Raw Aggregate Data/2009q3/num.txt
Raw Aggregate Data/2009q3/pre.txt
Raw Aggregate Data/2009q3/readme.htm
Raw Aggregate Data/2009q3/sub.txt
Raw Aggregate Data/2009q3/tag.txt
Raw Aggregate Data/2009q4/num.txt
Raw Aggregate Data/2009q4/pre.txt
Raw Aggregate Data/2009q4/readme.htm
Raw Aggregate Data/2009q4/sub.txt
Raw Aggregate Data/2009q4/tag.txt
Raw Aggregate Data/2010q1/num.txt
Raw Aggregate Data/2010q1/pre.txt
Raw Aggregate Data/2010q1/readme.htm
Raw Aggregate Data/2010q1/sub.txt
Raw Aggregate Data/2010q1/tag.txt
Raw Aggregate Data/2010q2/num.txt
Raw Aggregate Data/2010q2/pre.txt
Raw Aggregate Data/2010q2/readme.htm
Raw Aggregate Data/2010q2/sub.txt
Raw Aggregate Data/2010q2/tag.txt
Raw Aggregate Data/2010q3/num.txt
Raw Aggregate Data/2010q3/pre.txt
Raw Aggregate Data/2010q3/readme.htm
Raw Aggregate Data/2010q3/sub.txt
Raw Aggregate Data/2010q3/tag.txt
Raw Aggregate Data/2010q4/num.txt
Raw Aggregate Data/2010q4/pre.txt
Raw Aggregate Data/2010q4/readme.htm
Raw Aggregate Data/2010q4/sub.txt
Raw Aggregate Data/2010q4/tag.txt
Raw Aggregate Data/2011q1/num.txt
Raw Aggregate Data/2011q1/pre.txt
Raw Aggregate Data/2011q1/readme.htm
Raw Aggregate Data/2011q1/sub.txt
Raw Aggregate Data/2011q1/tag.txt
Raw Aggregate Data/2011q2/num.txt
Raw Aggregate Data/2011q2/pre.txt
Raw Aggregate Data/2011q2/readme.htm
Raw Aggregate Data/2011q2/sub.txt
Raw Aggregate Data/2011q2/tag.txt
Raw Aggregate Data/2011q3/num.txt
Raw Aggregate Data/2011q3/pre.txt
Raw Aggregate Data/2011q3/readme.htm
Raw Aggregate Data/2011q3/sub.txt
Raw Aggregate Data/2011q3/tag.txt
Raw Aggregate Data/2011q4/num.txt
Raw Aggregate Data/2011q4/pre.txt
Raw Aggregate Data/2011q4/readme.htm
Raw Aggregate Data/2011q4/sub.txt
Raw Aggregate Data/2011q4/tag.txt
Raw Aggregate Data/2012q1/num.txt
Raw Aggregate Data/2012q1/pre.txt
Raw Aggregate Data/2012q1/readme.htm
Raw Aggregate Data/2012q1/sub.txt
Raw Aggregate Data/2012q1/tag.txt
Raw Aggregate Data/2012q2/num.txt
Raw Aggregate Data/2012q2/pre.txt
Raw Aggregate Data/2012q2/readme.htm
Raw Aggregate Data/2012q2/sub.txt
Raw Aggregate Data/2012q2/tag.txt
Raw Aggregate Data/2012q3/num.txt
Raw Aggregate Data/2012q3/pre.txt
Raw Aggregate Data/2012q3/readme.htm
Raw Aggregate Data/2012q3/sub.txt
Raw Aggregate Data/2012q3/tag.txt
Raw Aggregate Data/2012q4/num.txt
Raw Aggregate Data/2012q4/pre.txt
Raw Aggregate Data/2012q4/readme.htm
Raw Aggregate Data/2012q4/sub.txt
Raw Aggregate Data/2012q4/tag.txt
Raw Aggregate Data/2013q1/num.txt
Raw Aggregate Data/2013q1/pre.txt
Raw Aggregate Data/2013q1/readme.htm
Raw Aggregate Data/2013q1/sub.txt
Raw Aggregate Data/2013q1/tag.txt
Raw Aggregate Data/2013q2/num.txt
Raw Aggregate Data/2013q2/pre.txt
Raw Aggregate Data/2013q2/readme.htm
Raw Aggregate Data/2013q2/sub.txt
Raw Aggregate Data/2013q2/tag.txt
Raw Aggregate Data/2013q3/num.txt
Raw Aggregate Data/2013q3/pre.txt
Raw Aggregate Data/2013q3/readme.htm
Raw Aggregate Data/2013q3/sub.txt
Raw Aggregate Data/2013q3/tag.txt
Raw Aggregate Data/2013q4/num.txt
Raw Aggregate Data/2013q4/pre.txt
Raw Aggregate Data/2013q4/readme.htm
Raw Aggregate Data/2013q4/sub.txt
Raw Aggregate Data/2013q4/tag.txt
Raw Aggregate Data/2014q1/num.txt
Raw Aggregate Data/2014q1/pre.txt
Raw Aggregate Data/2014q1/readme.htm
Raw Aggregate Data/2014q1/sub.txt
Raw Aggregate Data/2014q1/tag.txt
Raw Aggregate Data/2014q2/num.txt
Raw Aggregate Data/2014q2/pre.txt
Raw Aggregate Data/2014q2/readme.htm
Raw Aggregate Data/2014q2/sub.txt
Raw Aggregate Data/2014q2/tag.txt
Raw Aggregate Data/2014q3/num.txt
Raw Aggregate Data/2014q3/pre.txt
Raw Aggregate Data/2014q3/readme.htm
Raw Aggregate Data/2014q3/sub.txt
Raw Aggregate Data/2014q3/tag.txt
Raw Aggregate Data/2014q4/num.txt
Raw Aggregate Data/2014q4/pre.txt
Raw Aggregate Data/2014q4/readme.htm
Raw Aggregate Data/2014q4/sub.txt
Raw Aggregate Data/2014q4/tag.txt
Raw Aggregate Data/2015q1/num.txt
Raw Aggregate Data/2015q1/pre.txt
Raw Aggregate Data/2015q1/readme.htm
Raw Aggregate Data/2015q1/sub.txt
Raw Aggregate Data/2015q1/tag.txt
Raw Aggregate Data/2015q2/num.txt
Raw Aggregate Data/2015q2/pre.txt
Raw Aggregate Data/2015q2/readme.htm
Raw Aggregate Data/2015q2/sub.txt
Raw Aggregate Data/2015q2/tag.txt
Raw Aggregate Data/2015q3/num.txt
Raw Aggregate Data/2015q3/pre.txt
Raw Aggregate Data/2015q3/readme.htm
Raw Aggregate Data/2015q3/sub.txt
Raw Aggregate Data/2015q3/tag.txt
Raw Aggregate Data/2015q4/num.txt
Raw Aggregate Data/2015q4/pre.txt
Raw Aggregate Data/2015q4/readme.htm
Raw Aggregate Data/2015q4/sub.txt
Raw Aggregate Data/2015q4/tag.txt
Raw Aggregate Data/2016q1/num.txt
Raw Aggregate Data/2016q1/pre.txt
Raw Aggregate Data/2016q1/readme.htm
Raw Aggregate Data/2016q1/sub.txt
Raw Aggregate Data/2016q1/tag.txt
Raw Aggregate Data/2016q2/num.txt
Raw Aggregate Data/2016q2/pre.txt
Raw Aggregate Data/2016q2/readme.htm
Raw Aggregate Data/2016q2/sub.txt
Raw Aggregate Data/2016q2/tag.txt
Raw Aggregate Data/2016q3/num.txt
Raw Aggregate Data/2016q3/pre.txt
Raw Aggregate Data/2016q3/readme.htm
Raw Aggregate Data/2016q3/sub.txt
Raw Aggregate Data/2016q3/tag.txt
Raw Aggregate Data/2016q4/num.txt
Raw Aggregate Data/2016q4/pre.txt
Raw Aggregate Data/2016q4/readme.htm
Raw Aggregate Data/2016q4/sub.txt
Raw Aggregate Data/2016q4/tag.txt
Raw Aggregate Data/2017q1/num.txt
Raw Aggregate Data/2017q1/pre.txt
Raw Aggregate Data/2017q1/readme.htm
Raw Aggregate Data/2017q1/sub.txt
Raw Aggregate Data/2017q1/tag.txt
Raw Aggregate Data/2017q2/num.txt
Raw Aggregate Data/2017q2/pre.txt
Raw Aggregate Data/2017q2/readme.htm
Raw Aggregate Data/2017q2/sub.txt
Raw Aggregate Data/2017q2/tag.txt
Raw Aggregate Data/2017q3/num.txt
Raw Aggregate Data/2017q3/pre.txt
Raw Aggregate Data/2017q3/readme.htm
Raw Aggregate Data/2017q3/sub.txt
Raw Aggregate Data/2017q3/tag.txt
Raw Aggregate Data/2017q4/num.txt
Raw Aggregate Data/2017q4/pre.txt
Raw Aggregate Data/2017q4/readme.htm
Raw Aggregate Data/2017q4/sub.txt
Raw Aggregate Data/2017q4/tag.txt
Raw Aggregate Data/2018q1/num.txt
Raw Aggregate Data/2018q1/pre.txt
Raw Aggregate Data/2018q1/readme.htm
Raw Aggregate Data/2018q1/sub.txt
Raw Aggregate Data/2018q1/tag.txt
Raw Aggregate Data/2018q2/num.txt
Raw Aggregate Data/2018q2/pre.txt
Raw Aggregate Data/2018q2/readme.htm
Raw Aggregate Data/2018q2/sub.txt
Raw Aggregate Data/2018q2/tag.txt
Raw Aggregate Data/2018q3/num.txt
Raw Aggregate Data/2018q3/pre.txt
Raw Aggregate Data/2018q3/readme.htm
Raw Aggregate Data/2018q3/sub.txt
Raw Aggregate Data/2018q3/tag.txt
Raw Aggregate Data/2018q4/num.txt
Raw Aggregate Data/2018q4/pre.txt
Raw Aggregate Data/2018q4/readme.htm
Raw Aggregate Data/2018q4/sub.txt
Raw Aggregate Data/2018q4/tag.txt
Raw Aggregate Data/2019q1/num.txt
Raw Aggregate Data/2019q1/pre.txt
Raw Aggregate Data/2019q1/readme.htm
Raw Aggregate Data/2019q1/sub.txt
Raw Aggregate Data/2019q1/tag.txt
Raw Aggregate Data/2019q2/num.txt
Raw Aggregate Data/2019q2/pre.txt
Raw Aggregate Data/2019q2/readme.htm
Raw Aggregate Data/2019q2/sub.txt
Raw Aggregate Data/2019q2/tag.txt
Raw Aggregate Data/2019q3/num.txt
Raw Aggregate Data/2019q3/pre.txt
Raw Aggregate Data/2019q3/readme.htm
Raw Aggregate Data/2019q3/sub.txt
Raw Aggregate Data/2019q3/tag.txt
Raw Aggregate Data/2019q4/num.txt
Raw Aggregate Data/2019q4/pre.txt
Raw Aggregate Data/2019q4/readme.htm
Raw Aggregate Data/2019q4/sub.txt
Raw Aggregate Data/2019q4/tag.txt
Raw Aggregate Data/2020q1/num.txt
Raw Aggregate Data/2020q1/pre.txt
Raw Aggregate Data/2020q1/readme.htm
Raw Aggregate Data/2020q1/sub.txt
Raw Aggregate Data/2020q1/tag.txt
Raw Aggregate Data/2020q2/num.txt
Raw Aggregate Data/2020q2/pre.txt
Raw Aggregate Data/2020q2/readme.htm
Raw Aggregate Data/2020q2/sub.txt
Raw Aggregate Data/2020q2/tag.txt
Raw Aggregate Data/2020q3/num.txt
Raw Aggregate Data/2020q3/pre.txt
Raw Aggregate Data/2020q3/readme.htm
Raw Aggregate Data/2020q3/sub.txt
Raw Aggregate Data/2020q3/tag.txt
Raw Aggregate Data/2020q4/num.txt
Raw Aggregate Data/2020q4/pre.txt
Raw Aggregate Data/2020q4/readme.htm
Raw Aggregate Data/2020q4/sub.txt
Raw Aggregate Data/2020q4/tag.txt
Raw Aggregate Data/2021q1/num.txt
Raw Aggregate Data/2021q1/pre.txt
Raw Aggregate Data/2021q1/readme.htm
Raw Aggregate Data/2021q1/sub.txt
Raw Aggregate Data/2021q1/tag.txt
Raw Aggregate Data/2021q2/num.txt
Raw Aggregate Data/2021q2/pre.txt
Raw Aggregate Data/2021q2/readme.htm
Raw Aggregate Data/2021q2/sub.txt
Raw Aggregate Data/2021q2/tag.txt
Raw Aggregate Data/2021q3/num.txt
Raw Aggregate Data/2021q3/pre.txt
Raw Aggregate Data/2021q3/readme.htm
Raw Aggregate Data/2021q3/sub.txt
Raw Aggregate Data/2021q3/tag.txt
Raw Aggregate Data/2021q4/num.txt
Raw Aggregate Data/2021q4/pre.txt
Raw Aggregate Data/2021q4/readme.htm
Raw Aggregate Data/2021q4/sub.txt
Raw Aggregate Data/2021q4/tag.txt
Raw Aggregate Data/2022q1/num.txt
Raw Aggregate Data/2022q1/pre.txt
Raw Aggregate Data/2022q1/readme.htm
Raw Aggregate Data/2022q1/sub.txt
Raw Aggregate Data/2022q1/tag.txt
Raw Aggregate Data/2022q2/num.txt
Raw Aggregate Data/2022q2/pre.txt
Raw Aggregate Data/2022q2/readme.htm
Raw Aggregate Data/2022q2/sub.txt
Raw Aggregate Data/2022q2/tag.txt
Raw Aggregate Data/2022q3/num.txt
Raw Aggregate Data/2022q3/pre.txt
Raw Aggregate Data/2022q3/readme.htm
Raw Aggregate Data/2022q3/sub.txt
Raw Aggregate Data/2022q3/tag.txt
Raw Aggregate Data/2022q4/num.txt
Raw Aggregate Data/2022q4/pre.txt
Raw Aggregate Data/2022q4/readme.htm
Raw Aggregate Data/2022q4/sub.txt
Raw Aggregate Data/2022q4/tag.txt
Raw Aggregate Data/2023q1/num.txt
Raw Aggregate Data/2023q1/pre.txt
Raw Aggregate Data/2023q1/readme.htm
Raw Aggregate Data/2023q1/sub.txt
Raw Aggregate Data/2023q1/tag.txt
Raw Aggregate Data/2023q2/num.txt
Raw Aggregate Data/2023q2/pre.txt
Raw Aggregate Data/2023q2/readme.htm
Raw Aggregate Data/2023q2/sub.txt
Raw Aggregate Data/2023q2/tag.txt
Raw Aggregate Data/2023q3/num.txt
Raw Aggregate Data/2023q3/pre.txt
Raw Aggregate Data/2023q3/readme.htm
Raw Aggregate Data/2023q3/sub.txt
Raw Aggregate Data/2023q3/tag.txt
Raw Aggregate Data/2023q4/num.txt
Raw Aggregate Data/2023q4/pre.txt
Raw Aggregate Data/2023q4/readme.htm
Raw Aggregate Data/2023q4/sub.txt
Raw Aggregate Data/2023q4/tag.txt
Raw Aggregate Data/2024q1/num.txt
Raw Aggregate Data/2024q1/pre.txt
Raw Aggregate Data/2024q1/readme.htm
Raw Aggregate Data/2024q1/sub.txt
Raw Aggregate Data/2024q1/tag.txt
Raw Aggregate Data/2024q2/num.txt
Raw Aggregate Data/2024q2/pre.txt
Raw Aggregate Data/2024q2/readme.htm
Raw Aggregate Data/2024q2/sub.txt
Raw Aggregate Data/2024q2/tag.txt
Raw Aggregate Data/2024q3/num.txt
Raw Aggregate Data/2024q3/pre.txt
Raw Aggregate Data/2024q3/readme.htm
Raw Aggregate Data/2024q3/sub.txt
Raw Aggregate Data/2024q3/tag.txt
Raw Aggregate Data/2024q4/num.txt
Raw Aggregate Data/2024q4/pre.txt
Raw Aggregate Data/2024q4/readme.htm
Raw Aggregate Data/2024q4/sub.txt
Raw Aggregate Data/2024q4/tag.txt
main_file.py
Raw Aggregate Data/2025q1/num.txt
Raw Aggregate Data/2025q1/pre.txt
Raw Aggregate Data/2025q1/sub.txt
Raw Aggregate Data/2025q1/tag.txt
all_cik.txt
all_tag.txt
